<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="config/connection-info.properties"/>

    <typeAliases>
        <typeAlias type="com.passaggio.project.model.playlist.PlaylistTO" alias="PlaylistTO"/>
        <typeAlias type="com.passaggio.project.model.songinfo.SongInfoTO" alias="SongInfoTO"/>
        <typeAlias type="com.passaggio.project.model.listcontent.ListContentTO" alias="ListContentTO"/>
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/passaggio/project/user/LoginMapper.xml"/>
        <mapper resource="com/passaggio/project/mapper/PlaylistMapper.xml" />
        <mapper resource="com/passaggio/project/mapper/SongInfoMapper.xml" />
        <mapper resource="com/passaggio/project/mapper/ListContentMapper.xml" />
    </mappers>
</configuration>