<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passaggio.project.mapper.ListContentMapper">
    <select id="selectContentsByLseq" parameterType="_int" resultType="_int">
        SELECT
            sseq
        FROM
            list_content
        WHERE
            lseq = #{lseq}
    </select>

    <select id="isContentExists" parameterType="_int" resultType="_int">
        SELECT
            COUNT(*)
        FROM
            list_content
        WHERE
            sseq = #{sseq}
    </select>

    <insert id="insertContent" parameterType="ListContentTO">
        INSERT INTO
            list_content (lseq, sseq)
        VALUES
            (#{lseq}, #{sseq})
    </insert>

    <delete id="deleteContent" parameterType="ListContentTO">
        DELETE FROM
            list_content
        WHERE
            lseq = #{ lseq }
            AND sseq = #{ sseq }
    </delete>

    <delete id="deleteContents" parameterType="_int">
        DELETE FROM
        list_content
        WHERE
        lseq = #{ lseq }
    </delete>
</mapper>