<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passaggio.project.mapper.LoginMapper">

    <resultMap id="signUpResultMap" type="com.passaggio.project.models.signup.SignUpDTO">
        <id property="seq" column="seq"/>
        <result property="id" column="id"/>
        <result property="pwd" column="pwd"/>
        <result property="nick" column="nick"/>
        <result property="gender" column="gender"/>
    </resultMap>
    <insert id="insertUser" parameterType="com.passaggio.project.models.signup.SignUpDTO">
        INSERT INTO member (
                             seq
                           , id
                           , pwd
                           , nick
                           , gender
        )
        VALUES (
        #{ seq }
        , #{ id }
        , #{ pwd }
        , #{ nick }
        , #{ gender }
        )
    </insert>
    <select id="whatIsId" resultType="String">
        SELECT id FROM member WHERE id = #{ id }
    </select>
</mapper>